@import "./css/_backgrounds";
@import "./css/_media";
/* 社群網路圖示 */
$socialNetworkSVG-tranSecs: 0.3s;
@mixin socialNetworkSVG($fill) {
	transition: fill $socialNetworkSVG-tranSecs;
	&:hover {
		fill: $fill;
	}
}
/* 首頁背景 */
#abHome {
	@include background(cover);
	background-image: url("./../images/birdsOfAFeather_68.jpg");
}
/* 首頁容器 */
#abHomeContainer {
	width: 85%;
}
/* 首頁標題 */
#abHomeTitle {
	font-weight: 900;

	@include responsive-fontSize(72px, 60px, 48px, 36px);
}
/* 首頁描述 */
#abHomeDescription {
	@include responsive-fontSize(20px, 18px, 16px, 14px);
}
/* 社群網路 */
#abHomeGithub {
	svg {
		@include socialNetworkSVG(#000000);
	}
}
#abHomeYoutube {
	svg {
		@include socialNetworkSVG(#FF0000);
	}
}
#abHomeFacebook {
	svg {
		@include socialNetworkSVG(#1778F2);
	}
}
#abHomeInstagram {
	svg {
		&:hover {
			stop {
				&:nth-child(1) {
					stop-color: #fdf497;
				}
				&:nth-child(2) {
					stop-color: #fdf497;
				}
				&:nth-child(3) {
					stop-color: #fd5949;
				}
				&:nth-child(4) {
					stop-color: #d6249f;
				}
				&:nth-child(5) {
					stop-color: #285AEB;
				}
			}
		}

		stop {
			transition: stop-color $socialNetworkSVG-tranSecs;
		}
	}
}
#abHomeLinkedin {
	svg {
		@include socialNetworkSVG(#2867B2);
	}
}
