@import "./css/_backgrounds";
@import "./css/_media";
@import "./css/_texts";
@import "./css/_themes";
/* 社群網路圖示 */
$socialNetworkSVG-tranSecs: 0.3s;
@mixin socialNetworkSVG($fill) {
	transition: fill $socialNetworkSVG-tranSecs;
	&:hover {
		fill: $fill;
	}
}
/* 最粗粗體 */
.bold-900 {
	font-weight: 900;
}
/* 首頁背景 */
#abHome {
	@include background(cover);
	background-image: url("./../images/birdsOfAFeather_68.jpg");
}
/* 首頁容器 */
#abHomeContainer {
	width: 85%;
}
/* 首頁標題 */
#abHomeTitle {
	@include responsive-fontSize(72px, 60px, 48px, 36px);
}
/* 首頁描述 */
#abHomeBadges, #abHomeDescription {
	@include responsive-fontSize(20px, 18px, 16px, 14px);
}
/* 社群網路 */
#abHomeGithub {
	svg {
		@include socialNetworkSVG(#000000);
	}
}
#abHomeYoutube {
	svg {
		@include socialNetworkSVG(#FF0000);
	}
}
#abHomeFacebook {
	svg {
		@include socialNetworkSVG(#1778F2);
	}
}
#abHomeInstagram {
	svg {
		&:hover {
			stop {
				&:nth-child(1) {
					stop-color: #fdf497;
				}
				&:nth-child(2) {
					stop-color: #fdf497;
				}
				&:nth-child(3) {
					stop-color: #fd5949;
				}
				&:nth-child(4) {
					stop-color: #d6249f;
				}
				&:nth-child(5) {
					stop-color: #285AEB;
				}
			}
		}

		stop {
			transition: stop-color $socialNetworkSVG-tranSecs;
		}
	}
}
#abHomeLinkedin {
	svg {
		@include socialNetworkSVG(#2867B2);
	}
}
/* 程式語言 */
.abExpSkill {
	border: 3px solid transparent;
	border-radius: 100%; // 徽章感
	transition: all .3s;

	&:hover {
		box-shadow: 0 .5rem 1rem rgba(black, .15); // BS's shadow
		border: 3px solid $highlightColor;
		transform: scale(1.1); // 凸顯感
	}
}
/* 名人 */
.abGreatFigure {
	height: auto;
}
/* 愛因斯坦 */
#abGreatEinsteinSection {
	@include background(cover);
	@include backgroundImage_darken(url("./../images/einsteinRing.jpg"), 0.5);
}
/* 霍金 */
#abGreatHawkingSection {
	@include background(cover);
	@include backgroundImage_darken(url("./../images/blackhole.png"), 0.5);
}
/* 珍古德 */
#abGreatJaneSection {
	@include background(cover);
	@include backgroundImage_darken(url("./../images/belugaWhales.webp"), 0.5);
}
/* 表單未填欄位錯誤訊息 */
.errorForm {
	color: $highlightColor;
	font-size: 15px;
}
/* 信件寄出成功訊息 */
#abEmailSuccessAlert {
	position: absolute;
	right: 30px;
	bottom: 0;
	width: 230px;
}
