@import "./css/_buttons";
@import "./css/_themes";

@mixin widthHeight($width, $height) {
	width: $width;
	height: $height;
}
// 選擇 eBirder 按鈕
#ebDrawerBtn {
	position: fixed;
	top: 110px;
	left: -40px;
	z-index: 9999;
	transition: left 0.3s ease-out;
	/* 滑鼠掠過滑出來 */
	&:hover {
		left: 0;
	}
}
// 選擇 eBirder 按鈕, eBirder 圖像
#ebDrawerBtn, .eBirder {
	cursor: pointer;
	/* 配上點擊動畫 */
	&:active {
		@include button-click-animation1;
	}
}
// 無法學 React Suite 的 Drawer 用 opacity=0.8
#ebDrawer {
	background-color: rgba(15, 19, 26, .8);

	h1 {
		color: white;
		font-weight: bold;
	}
}
// 分頁內容
#mapTab {
	position: relative;
}
/*
 * 'react-full-screen' 的全螢幕容器 => 避免 <MapContainer> 被壓縮
 * 時間軸節點圖示
 */
.fullscreen, .timelineNodeIcon {
	@include widthHeight(100%, 100%);
}
// 地圖、時間軸、統計圖表容器
#birdMap, #birdTimeline, #birdChart {
	@include widthHeight(100%, 80vh);
}
// 時間軸資訊卡第 ? 點圖示
.point {
	@include widthHeight(20px, auto);
}
// 時間軸鳥種按鈕群組
.timelineBirdBtnGroup {
	flex-wrap: wrap;
}
// 統計圖表圖表標題
.chart {
	&:hover .chartTitle { // 標題
		color: $goldColor !important;
		transition: color .3s;
	}
	&:hover .chartTitleContent { // 標題內容
		border-color: $goldColor !important;
		transition: border-color .3s;
	}
}
