@import "./css/_backgrounds";
/* 留 Footer 位置 */
$coverOffset: 118px;
/* 封面高度 */
$coverHeight: calc(100vh - #{$coverOffset});

#homeContainer {
	position: relative;
	height: $coverHeight;
	overflow: hidden; // 封面圖片放大邊界限制

	&:hover {
		#homeCover {
			transform: scale(1.2); // 封面圖片放大
		}
	}
}
/* 封面圖片 */
#homeCover {
	@include background(cover);
	background-image: url("./../images/cover_77.JPG");
	height: 100%;
	transition: transform 1s; // Mouse enter&leave
}
/* 入口按鈕 */
#homeEntrance {
	position: absolute;
	left: calc(100vw/2 - 57px);
	top: calc(#{$coverHeight} / 2);
}
/* 計數器 */
#hitCounter {
	position: absolute;
	right: 0;
	bottom: 46px;
	background-color: rgba($bs-bgDark, 0.5);
}
