@import "./css/_ui";
@import "./css/_backgrounds";

#idMain {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // 洗牌按鈕
    .shuffleBtn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
    }
    // 卡牌容器
    div {
        position: absolute;
        width: 100%;
        height: $mainContentHeight; /* 不超過分頁列表 */
        will-change: transform; /* 優化動畫 */
        // 卡牌正反面容器
        .react-card-front, .react-card-back {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        // 卡牌正反面
        .react-card-front > div, .react-card-back > div {
            @include background(cover);
            @include boxShadow("sm", rgba(black, 0.44));
            width: 60vw;
            max-width: 800px; /* 依據"台灣產蝶蛾圖鑑"格式 */
            height: 40vw;
            max-height: 533px; /* 依據"台灣產蝶蛾圖鑑"格式 */
            border: 5px solid white;
            border-radius: 10px;
            background-color: white;
            cursor: grab;
            will-change: transform; /* 優化動畫 */
            transition: box-shadow 0.2s;
            touch-action: none; /* @use-gesture/react */
            // 抓取卡牌
            &:active {
                @include boxShadow("md", rgba(black, 0.44));
                cursor: grabbing;
            }
        }
    }
}
