@charset "UTF-8";
/* Bootstrap 暗色背景背景顏色 */
/* Bootstrap 暗色背景 Blur 的字體顏色 */
/* 背景主題 */
/* 背景圖片降低亮度 */
/* 物體高度陰影 */
/* 字體大小 */
/* 寬度 */
/* 高度 */
/* 最粗粗體 */
.bold-900 {
  font-weight: 900;
}

.a-dark {
  text-decoration: none;
  color: #FE9AFF;
}
.a-dark:hover {
  color: #FD4DFF;
}

#idMain {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#idMain .shuffleBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
@media all and (min-width: 1200px) {
  #idMain .shuffleBtn {
    width: auto;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #idMain .shuffleBtn {
    width: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #idMain .shuffleBtn {
    width: auto;
  }
}
@media all and (max-width: 767px) {
  #idMain .shuffleBtn {
    width: 100%;
  }
}
#idMain div {
  position: absolute;
  width: 100%;
  height: calc(100vh - 61.95px);
  /* 不超過分頁列表 */
  will-change: transform;
  /* 優化動畫 */
}
#idMain div .react-card-front, #idMain div .react-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
}
#idMain div .react-card-front div, #idMain div .react-card-back div {
  background-position: center;
  background-size: cover;
  /* auto, cover, contain */
  background-repeat: no-repeat;
  background-color: #000000;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.44);
  max-width: 800px;
  /* 依據"台灣產蝶蛾圖鑑"格式 */
  max-height: 533px;
  /* 依據"台灣產蝶蛾圖鑑"格式 */
  border: 7px solid white;
  border-radius: 20px;
  background-color: white;
  cursor: grab;
  will-change: transform;
  /* 優化動畫 */
  transition: box-shadow 0.2s;
  touch-action: none;
  /* @use-gesture/react */
}
@media all and (min-width: 1200px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    width: 48vw;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    width: 48vw;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    width: 54vw;
  }
}
@media all and (max-width: 767px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    width: 75vw;
  }
}
@media all and (min-width: 1200px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    height: 32vw;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    height: 32vw;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    height: 36vw;
  }
}
@media all and (max-width: 767px) {
  #idMain div .react-card-front div, #idMain div .react-card-back div {
    height: 50vw;
  }
}
#idMain div .react-card-front div:active, #idMain div .react-card-back div:active {
  box-shadow: 4.8px 9.6px 9.6px rgba(0, 0, 0, 0.44);
  cursor: grabbing;
}
#idMain div .react-card-front .react-card-front-container .hintIcon, #idMain div .react-card-back .react-card-front-container .hintIcon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
  transition: color 0.2s;
}
@media all and (min-width: 1200px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    width: 3vw;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    width: 3vw;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    width: 4vw;
  }
}
@media all and (max-width: 767px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    width: 5vw;
  }
}
@media all and (min-width: 1200px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    height: 3vw;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    height: 3vw;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    height: 4vw;
  }
}
@media all and (max-width: 767px) {
  #idMain div .react-card-front .react-card-front-container .hintIcon svg, #idMain div .react-card-back .react-card-front-container .hintIcon svg {
    height: 5vw;
  }
}
#idMain div .react-card-front .react-card-front-container .hintIcon:hover, #idMain div .react-card-back .react-card-front-container .hintIcon:hover {
  color: #FE9AFF;
}
#idMain div .react-card-front .react-card-back-container, #idMain div .react-card-back .react-card-back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
#idMain div .react-card-front .react-card-back-container .react-card-back-content, #idMain div .react-card-back .react-card-back-container .react-card-back-content {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}
#idMain div .react-card-front .react-card-back-container .react-card-back-content:hover, #idMain div .react-card-back .react-card-back-container .react-card-back-content:hover {
  color: transparent;
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  background-clip: text;
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/*# sourceMappingURL=Identity.css.map */
