@import "./css/_ui";
@import "./css/_backgrounds";

#idMain {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // 卡牌容器
    div {
        position: absolute;
        width: 100%;
        height: $mainContentHeight; /* 不超過分頁列表 */
        will-change: transform; /* 優化動畫 */
        // 卡牌
        div {
            @include background(cover);
            width: 60vw;
            max-width: 800px; /* 依據"台灣產蝶蛾圖鑑"格式 */
            height: 40vw;
            max-height: 533px; /* 依據"台灣產蝶蛾圖鑑"格式 */
            border: 5px solid white;
            border-radius: 10px;
            box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
            cursor: grab;
            will-change: transform; /* 優化動畫 */
            touch-action: none; /* @use-gesture/react */
            // 抓取卡牌
            &:active {
                cursor: grabbing;
            }
        }
    }
}
