@charset "UTF-8";
/* Bootstrap 暗色背景背景顏色 */
/* Bootstrap 暗色背景 Blur 的字體顏色 */
/* 背景主題 */
/* 背景圖片降低亮度 */
/* 物體高度陰影 */
/* 字體大小 */
/* 寬度 */
/* 高度 */
/* 最粗粗體 */
.bold-900 {
  font-weight: 900;
}

.a-dark {
  text-decoration: none;
  color: #FE9AFF;
}
.a-dark:hover {
  color: #FD4DFF;
}

/* 首頁背景 */
#abHome {
  background-position: center;
  background-size: cover;
  /* auto, cover, contain */
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: url("./../images/ngc2775_68.jpg");
}

/* 首頁容器 */
#abHomeContainer {
  width: 85%;
}

/* 首頁標題 */
@media all and (min-width: 1200px) {
  #abHomeTitle {
    font-size: 72px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #abHomeTitle {
    font-size: 60px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #abHomeTitle {
    font-size: 48px;
  }
}
@media all and (max-width: 767px) {
  #abHomeTitle {
    font-size: 36px;
  }
}

/* 首頁描述 */
@media all and (min-width: 1200px) {
  #abHomeBadges, #abHomeDescription {
    font-size: 20px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  #abHomeBadges, #abHomeDescription {
    font-size: 18px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #abHomeBadges, #abHomeDescription {
    font-size: 16px;
  }
}
@media all and (max-width: 767px) {
  #abHomeBadges, #abHomeDescription {
    font-size: 14px;
  }
}

/* 程式語言 */
.abExpSkill {
  border: 3px solid transparent;
  border-radius: 100%;
  transition: all 0.3s;
}
.abExpSkill:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 3px solid #FE9AFF;
  transform: scale(1.1);
}

/* 名人 */
.abGreatFigure {
  height: auto;
}

/* 愛因斯坦 */
#abGreatEinsteinSection {
  background-position: center;
  background-size: cover;
  /* auto, cover, contain */
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/einsteinRing.jpg");
}

/* 霍金 */
#abGreatHawkingSection {
  background-position: center;
  background-size: cover;
  /* auto, cover, contain */
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/blackhole.png");
}

/* 西雅圖酋長 */
#abGreatSeSeSection {
  background-position: center;
  background-size: cover;
  /* auto, cover, contain */
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/flyingEagle.jpg");
}

/* 珍古德 */
#abGreatJaneSection {
  background-position: center;
  background-size: cover;
  /* auto, cover, contain */
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/belugaWhales.webp");
}

/* 表單未填欄位錯誤訊息 */
.errorForm {
  color: #FE9AFF;
  font-size: 15px;
}

/* 信件寄出成功訊息 */
#abEmailSuccessAlert {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 230px;
}

/*# sourceMappingURL=MyophonusInsularis.css.map */
