@import "./css/_media";
@import "./css/_themes";
@import "./css/_ui";
/* 日期選擇 */
#phDateSelectContainer {
	@include responsive-width(30%, 30%, 30%, 100%);
	display: inline-block;
}
/* 攝影藝廊 */
#phPhotosGallery {
	width: 100%;
	height: calc($mainContentHeight - 48px);
	/* 投影片播放 */
	#swiperPlay {
		width: 100%;
		height: 80%;
	}
	/* 投影片預覽 */
	#swiperPreview {
		width: 100%;
		height: 20%;
		padding: 10px 0;
		/* 投影片 */
		.swiper-slide {
			width: 25%;
			height: 100%;
			opacity: 0.4;
			/* 播放中投影片 */
			&.swiper-slide-thumb-active {
				opacity: 1;
			}
		}
	}
}
/* 投影片容器 */
.swiper {
	position: relative;
	/* 上下一張 */
	.swiper-button-prev, .swiper-button-next {
		color: $highlightColor;
		font-weight: bold;
		background-color: rgba(0, 0, 0, 0.1);
		width: 8%;
		height: 95%; // 避免遮蓋 Scrollbar
		position: absolute;
		top: 2.5%; // 維持 y 軸置中
		margin-top: auto;
		margin-bottom: auto;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgba($highlightColor, 0.2);
		}

		&:active {
			background-color: rgba($highlightColor, 0.8);
		}
	}
	.swiper-button-prev {
		left: 0;
	}
	.swiper-button-next {
		right: 0;
	}
	/* Scrollbar */
	.swiper-scrollbar {
		.swiper-scrollbar-drag {
			cursor: move;
		}
	}
	/* 投影片 */
	.swiper-slide {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
