@import "./css/_backgrounds";
@import "./css/_media";
@import "./css/_texts";
/* 海洋色 */
.text-ocean {
	color: #005477;
}
/* 首頁背景 */
#pnHome {
	position: relative;
	z-index: 0;
}
/* 首頁容器 */
#pnHomeContainer {
	width: 85%;
	z-index: 2;
	padding: 10px 20px;
	background-color: rgba(white, 0.3);
}
/* 首頁標題 */
#pnHomeTitle {
	@include responsive-fontSize(72px, 60px, 48px, 36px);
}
/* 海洋動物 */
.gsapDiv {
	position: absolute;
	z-index: 2;

	img {
		width: 100%;
		height: auto;
	}
}
#pnHomeSeaTurtle {
	width: 25%;
	height: auto;
	bottom: 7%;
	left: -100px;
}
#pnHomeVaquita {
	width: 28%;
	height: auto;
	top: 15%;
	right: 0;
}
