@import "./css/_media";
@import "./css/_ui";
@import "./css/_themes";
/* 鳥種選擇 */
#reBirdSelectContainer {
	@include responsive-width(20%, 30%, 30%, 100%);
	display: inline-block;
}
/* 鳥音列表 */
#reRecordsTable {
	height: calc(100vh - $mainHeaderHeight - 56px);
	overflow-y: auto;
}
/* 手機時，播放器簡化 */
audio {
	@include phone {
		width: 100px;
	}
}
/* https://opensource.apple.com/source/WebCore/WebCore-1889.1/css/mediaControls.css.auto.html */
audio::-webkit-media-controls-mute-button, // 聲音圖示
audio::-webkit-media-controls-volume-slider, // 聲音滑桿
audio::-webkit-media-controls-current-time-display, // 播放進度
audio::-webkit-media-controls-time-remaining-display, // 總時間
audio::-webkit-media-controls-timeline { // 播放進度條
	@include phone {
		display: none !important;
	}
}

.pagination {
	a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: white;
		float: left;
		text-decoration: none;
		transition: background-color .3s;

		&.active {
			color: black;
			background-color: white;
			border-radius: 100%;
		}

		&:not(.active):hover {
			color: $highlightColor;
		}
	}
}
