@import "./css/_media";
@import "./css/_ui";
@import "./css/_themes";
@import "./css/_buttons";
/* 鳥種選擇 */
#reBirdSelectContainer {
	@include responsive-width(20%, 30%, 30%, 100%);
	display: inline-block;
}
/* 鳥音列表 */
#reRecordsTable {
	height: calc(100vh - $mainHeaderHeight - 56px);
	overflow-y: auto;
}
/* 手機時，播放器簡化 */
audio {
	@include phone {
		width: 100px;
	}
	/* https://opensource.apple.com/source/WebCore/WebCore-1889.1/css/mediaControls.css.auto.html */
	&::-webkit-media-controls-play-button { // 播放按鈕
		border-radius: 100%;
		box-shadow: $panelBtn-boxShadow;

		&:active {
			box-shadow: none;
		}
	}
	&::-webkit-media-controls-mute-button, // 聲音圖示
	&::-webkit-media-controls-volume-slider, // 聲音滑桿
	&::-webkit-media-controls-current-time-display, // 播放進度
	&::-webkit-media-controls-time-remaining-display, // 總時間
	&::-webkit-media-controls-timeline { // 播放進度條
		@include phone {
			display: none !important;
		}
	}
}
/* 鳥音分頁 */
.pagination {
	a {
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 0px 5px;
		color: white;
		box-shadow: $panelBtn-boxShadow;
		text-decoration: none;
		border-radius: 100%;
		transition: color .3s;
		/* 當前頁面 */
		&.active {
			background-color: $highlightColor;
			box-shadow: $panelBtn-boxShadow-inset;
			cursor: inherit;
			/* 預設的字體顏色會變 */
			&:hover {
				color: white;
			}
		}
		/* 非當前頁面 */
		&:not(.active) {
			/* 不需要顯示的按鈕 */
			&.disabled {
				visibility: hidden;
			}

			&:hover {
				color: $highlightColor;
			}
		}
	}
}
