@import "./../views/css/_backgrounds";
@import "./../views/css/_mouses";
/* 小視窗時的選單閉合按鈕 */
.navbar-toggler {
	transition: background-color 0.2s ease;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
}
/* 自定義下拉式選單 */
.navItem {
	padding: 0.5rem;
	position: relative;
	list-style: none;

	.navLinkActive {
		color: $bs-bgDark_hover;
	}
	.navLinkDisabled {
		@include cursor();
	}

	& a {
		color: $bs-bgDark_blur;
		text-decoration: none;

		&:hover {
			color: $bs-bgDark_hover;
		}
	}

	.dropdownMenu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1021;
		visibility: hidden;
		opacity: 0;
		min-width: 10rem;
		padding: 0.5rem 0;
		margin: 0.125rem 0 0;
		text-align: left;
		background-color: $bs-bgDark;
		border: 1px solid rgba(255, 255, 255, .5);
		border-radius: 0.25rem;
		transition: all .3s ease-out;

		.dropdownItem {
			display: block;
			width: 100%;
			padding: 0.25rem 1.5rem;
			list-style: none;

			.dropdownLink {
				cursor: pointer;
				transition: all 0.5s ease;

				&:hover, &.navLinkActive {
					font-weight: bold;
					padding-left: 10px;
					border-left: 5px solid #0dcaf0;
				}
			}
		}
	}

	&:hover {
		.dropdownMenu {
			visibility: visible;
			opacity: 1;
		}
	}
}
