@import "./../views/css/_backgrounds";
@import "./../views/css/_mouses";
@import "./../views/css/_dropdown";
/* 小視窗時的選單閉合按鈕 */
.navbar-toggler {
	transition: background-color 0.2s ease;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
}
/* 自定義下拉式選單 */
.navItem {
	padding: 0.5rem;
	position: relative;
	/* 連結字體顏色 */
	& a {
		color: $bs-bgDark_blur;
		text-decoration: none;

		&:hover {
			color: $bs-bgDark_hover;
		}
	}
	/* 選單 */
	.dropdownMenu {
		@include bs-dropdownMenu();
		@include w3-dropdownContent-boxShadow(rgba(0, 0, 0, 0.8));
		top: 100%;
		z-index: 1021; // YouTube's sortPanel: 1020
		visibility: hidden;
		opacity: 0;
		min-width: 7rem;
		background-color: $bs-bgDark;
		border: 1px solid rgba(255, 255, 255, .5);
		transition: all .3s ease-out;
		/* 選項 */
		.dropdownItem {
			@include bs-dropdownItem();
			/* 選項連結 */
			.dropdownLink {
				cursor: pointer;
				transition: all .5s ease;

				&:hover, &.navLinkActive {
					font-weight: bold;
					padding-left: 10px;
					border-left: 3px solid #0dcaf0;
				}
			}
		}
	}

	&:hover {
		.dropdownMenu {
			visibility: visible;
			opacity: 1;
		}
	}
}
/* 連結 */
.navLinkActive {
	color: $bs-bgDark_hover !important;
}
.navLinkDisabled {
	@include cursor();
}
