// 小工具按鈕
.toolbox {
	&:hover {
		background-color: #E3E3E3 !important;
	}
}
.toolbox-t0r0 { /* 絕對位置 */
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;

	&:hover {
		background-color: #E3E3E3 !important;
	}
}
