/* Bootstrap 暗色背景背景顏色 */
$bs-bgDark: rgba(33, 37, 41, 1);
/* Bootstrap 暗色背景 Blur 的字體顏色 */
$bs-bgDark_blur: rgba(255, 255, 255, .55);
/* 背景主題 */
@mixin background($size) {
	background: {
		position: center;
		size: $size; /* auto, cover, contain */
		repeat: no-repeat;
		color: #000000;
	}
}