/* w3school's Dropdown Content */
@mixin w3-dropdownContent-boxShadow($color) {
	box-shadow: 0px 8px 16px 0px $color;
}
/* Bootstrap's Dropdown Menu */
@mixin bs-dropdownMenu() {
	position: absolute;
	padding: 0.5rem 0;
	margin-top: 0.125rem;
	min-width: 10rem;
	text-align: left;
	border-radius: 0.25rem;
	z-index: 1000;
}
/* Bootstrap's Dropdown Item */
@mixin bs-dropdownItem() {
	display: block;
	width: 100%;
	padding: 0.25rem 1rem;
	clear: both;
}
