@import "./views/css/_mouses";
@import "./views/css/_themes";

$mp0: 0;
$hw100: 100%;

html, body, #root {
    height: $hw100;
    width: $hw100;
    /* Identity: 飛走卡牌 */
    overflow: hidden;
}

html, body {
    margin: $mp0;
    padding: $mp0;
    /* 鼠標圖案 */
    @include cursor();
}
// 反白
::selection {
    color: white;
    background-color: $highlightColor;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background-color: $highlightColor;
}
// 必填欄位的米字號
.requiredForm {
    color: red;
    font-size: 1rem;
}
