#backgroundPlaylist {
	position: fixed;
	top: 90px;
	left: -210px;
	z-index: 9999;
	transition: left .3s ease-out;
	/* 滑鼠掠過滑出來 */
	&:hover {
		left: 0;
		
		iframe {
			height: 169px;
			visibility: visible;
			opacity: 1;
		}
	}

	#bpImg {
		height: 120px;
		overflow-y: hidden;
		position: absolute;
		top: -80px;
		left: 0;

		img {
			width: 80%;
			height: auto;
		}
	}

	iframe {
		height: 0;
		visibility: hidden;
		opacity: 0;
		transition: all .2s;
	}
}
