@import "./views/css/_themes";

#backgroundPlaylist {
	position: fixed;
	top: 5px;
	left: -34px;
	z-index: 9999;
	transition: left .3s ease-out;

	#bpImg {
		height: 50px;

		img {
			width: auto;
			height: 100%;
		}
	}

	iframe {
		width: 68px;
		height: 41px;
		border-radius: 10px;
		border: 4px solid transparent;
		background: linear-gradient(to bottom, $cockatiel-milan 25%, $cockatiel-vividTangerine 75%, $cockatiel-milan) border-box;
		transition: all .3s;

		&:hover {
			width: 296px;
			height: 169px;
		}
	}

	&:hover {
		left: 0;
	}
}
